.filter {
  background-color: var(--color-background);
  color: var(--color-text);
  border-radius: 4px;

  .categorySelect {
    margin-bottom: 1rem;
    width: 100%;
    background-color: var(--color-primary);

    div {
      color: var(--color-text);
    }
  }

  label {
    color: var(--color-text);
  }

  p {
    margin-bottom: 1rem;
  }

  margin-bottom: 1.5rem;
  padding: 1rem;
  box-shadow: var(--box-shadow);

  select {
    margin-left: 1rem;
  }

  .sort {
    display: flex;
    gap: 1.5rem;

    div {
      color: var(--color-text);
    }

    .leftSelect {
      width: 50%;
      background-color: var(--color-primary);
    }

    .rightSelect {
      width: 50%;
      background-color: var(--color-primary);
    }
  }

  svg {
    color: var(--color-text);
  }
}
