@use '../../styles/colors.scss';

.rating {
  h3 {
    line-height: 2em;
    font-weight: 400;
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-size: 1.2rem;

    span {
      font-weight: 200;
    }
  }

  p {
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 300;
    margin-top: 1rem;
  }

  .info {
    line-height: 1.75rem;
    font-size: 0.9rem;
    font-style: italic;
    font-weight: 300;
  }
}
