@use '../../styles/colors.scss';

.rating {
  h3 {
    line-height: 2em;
    font-weight: 500;

    span {
      font-weight: 200;
    }
  }

  p {
    line-height: 1.75rem;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
  }

  .info {
    line-height: 1.75rem;
    font-size: 1rem;
    font-style: italic;
    font-weight: 300;
  }
}
