.heading {
  display: flex;
  justify-content: space-between;
  color: var(--color-text);

  button {
    color: var(--color-text);
  }

  div {
    color: var(--color-text);
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 2rem 0;

  button {
    color: var(--color-text);
  }

  div {
    color: var(--color-text);
  }
}

.header,
.pagination {
  button:hover {
    background-color: var(--color-dropdown);
  }
}

p {
  color: var(--color-text);
}
