@use '../styles/breakpoints.scss';

.heading {
  display: flex;
  justify-content: space-between;
  color: var(--color-text);
  border-bottom: solid var(--color-border) 2px;
  margin-bottom: 1.5rem;
  margin-top: 1rem;

  h1 {
    margin: 0;
    border: 0;
  }

  button {
    color: var(--color-text);
  }

  div {
    color: var(--color-text);
  }

  @media screen and (width <= breakpoints.$xs) {
    flex-direction: column;

    .paginationTop {
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      width: 100%;
    }
  }
}

.paginationBottom {
  display: flex;
  justify-content: center;
  margin: 2rem 0;

  button {
    color: var(--color-text);
  }

  div {
    color: var(--color-text);
  }

  button:hover {
    color: black;
    background-color: var(--color-hover-watchlist-button);
  }

  button:focus {
    outline: solid 2px #3874cb;
  }

  @media screen and (width <= breakpoints.$xs) {
    width: 120%;
    margin-right: 0;
    margin-left: -2.5rem;

    .paginationTop {
      margin-top: 0.5rem;
      margin-bottom: 1rem;
    }
  }
}

.paginationTop {
  margin-top: 0.75rem;

  button:hover {
    color: black;
    background-color: var(--color-hover-watchlist-button);
  }

  button:focus {
    outline: solid 2px #3874cb;
  }
}

.count {
  color: var(--color-text);
  margin-bottom: 1rem;
  display: inline-block;
}
