@use '../../styles/colors';

.smallContainer {
  position: absolute;
  top: 4px;
  right: 4px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  opacity: 0.8;
}

.bigContainer {
  float: right;
  background-color: white;
}

.add {
  color: black;
}

.remove {
  color: rgb(0 0 0 / 61%);
}
