.searchBar {
  background-color: rgb(255 255 255 / 34.9%);
  border-radius: 4px;
  width: 300px;
  max-width: 300px;
  margin: auto 25px;
  margin-top: 15px;
}

.searchInput {
  width: 100%;
}

.dropdown {
  background-color: rgb(120 112 112);
  max-height: 500px;
  overflow-y: scroll;
}

.movie {
  padding: 5px;

  p {
    line-height: 20px;
  }

  :hover {
    box-shadow: rgb(20 19 19) 0 0 10px;
    cursor: pointer;
  }
}
