@use '../../styles/breakpoints.scss';

// container grid with 4 elements per row
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;

  @media (width <= breakpoints.$l) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (width <= breakpoints.$m) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (width <= breakpoints.$xs) {
    grid-template-columns: 1fr;

    > div {
      width: 100%;
      margin: auto;
    }
  }

  > div:hover {
    cursor: pointer;
    box-shadow:
      0 4px 2px -2px rgb(0 0 0 / 30%),
      0 2px 2px 0 rgb(0 0 0 / 30%),
      0 2px 6px 0 rgb(0 0 0 / 30%);
  }
}
