.toggle {
  display: inline-block;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 20px;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
  background-color: var(--color-dropdown);
  color: var(--color-text);
}
