@use '../styles/colors';

.wallpaper {
  position: fixed;
  inset: 0;
  z-index: -1;
  background: url('../assets/SVG/camera-gray.svg') no-repeat;
  background-size: 30%;
  background-position: 96% 100%;
  transform: rotateZ(0.02turn);
}

section {
  margin: 0 20%;

  @media (width <= 1024px) {
    margin: 0 10%;
  }

  @media (width <= 768px) {
    margin: 0 5%;
  }

  @media (width <= 480px) {
    margin: 0 2%;
  }

  h1 {
    font-size: 2em;
    border-bottom: solid colors.$primary-color 2px;
    line-height: 1.5em;
    margin-top: 8px;
    margin-bottom: 16px;
  }
}
