@import url('../colors.scss');

section {
  margin: 0 20%;

  h1 {
    font-size: 2em;
    border-bottom: solid #001f3f 2px;
    line-height: 1.5em;
    margin-top: 8px;
    margin-bottom: 16px;
  }
}
