.navbarToolbar {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.navbarTitle {
  flex-grow: 1;
  font-size: 1.5rem;
  margin-left: 10px;
  margin-right: 10px;
  letter-spacing: 0.1rem;
  font-weight: 400;
  color: white;
}

.navLink {
  text-decoration: none;
  color: inherit;
}

.loginText {
  color: white;
}
