.navbarToolbar {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.navbarTitle {
  flex-grow: 1;
  font-size: 20px;
  padding: 5px;
}

.navLink {
  text-decoration: none;
  color: inherit;
}

.loginText {
  color: white;
}
