.searchBar {
  background-color: rgb(255 255 255 / 34.9%);
  border-radius: 4px;
  margin-top: 15px;
  width: 100%;
  position: relative;
  color: var(--color-text);

  .searchInput {
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    ::placeholder {
      color: var(--color-text); // Placeholder text color
    }

    input {
      color: var(--color-text);
    }
  }

  .dropdown {
    background-color: var(--color-dropdown);
    color: var(--color-text);
    max-height: 500px;
    overflow-y: scroll;
    z-index: 2;
    position: absolute;
    width: 100%;

    li {
      border-bottom: 0.5px solid black;
      position: relative;
      margin-left: 1rem;
      margin-right: 1rem;
      line-height: 1.5rem;
      padding: 5px;

      &:focus,
      &:hover {
        background-color: var(--color-background);
        cursor: pointer;
      }

      &:last-child {
        border-bottom: none;
      }
    }

    #notFound {
      border-bottom: 0.5px solid black;
      padding: 5px;

      &:hover {
        background-color: var(--color-background);
        cursor: default;
      }
    }

    .loadMore {
      padding: 5px;
      border-bottom: 0.5px solid black;
      font-style: italic;
    }
  }
}
