.searchBar {
  background-color: rgb(255 255 255 / 34.9%);
  border-radius: 4px;
  margin: auto 25px;
  margin-top: 15px;
  width: 50%;
}

.searchInput {
  width: 100%;
}

.dropdown {
  background-color: rgb(227 227 227);
  color: black;
  max-height: 500px;
  overflow-y: scroll;
  z-index: 2;
  position: relative;
  margin-left: 2px;

  li {
    border-bottom: 0.5px solid black;
  }

  li:hover {
    box-shadow: rgb(20 19 19) 0 0 10px;
    cursor: pointer;
  }
}

.movie {
  padding: 5px;

  p {
    line-height: 20px;
  }
}
